# AWS & Amazon SageMaker related settings
HYDRA_SAGEMAKER_REGION=eu-west-1
HYDRA_SAGEMAKER_ROLE_ARN=arn:aws:iam::****************:role/service-role/AmazonSageMaker-ExecutionRole-******************
HYDRA_SAGEMAKER_S3_BUCKET=s3://**********/
